/* Write your code here. */
* {
  box-sizing: border-box;
}
@media (orientation:landscape) {
.emoji-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:1%;
  }
  
  .bg-container {
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    height: 100vh;
  }
  
  .game-result {
    display: flex;
    background-color: #9796f0;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #ffffff30;
    width :50%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin :3%;
  }

  .button {
    background-color: yellow;
    border-radius: 10px;
    font-size: 15px;
    padding:5px;
  }

  .heading {
    color:#ffffff;
  }

  .score {
    font-size: 150%;
    color:#ffffff;
  }

  .value {
    font-size: 150%;
    font-weight: bold;
    color:#6a59ff;
  }

  .image {
    margin:10px;
  }

  .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
  }

  .image2 {
    width:100%;
    object-fit: cover;
    padding:15px;
  }
}


@media (orientation:portrait) {
  .emoji-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:2%;
    padding-top: 30%;
    padding-bottom: 30%;
  }

  .game-result {
    display: flex;
    flex-direction: column;
    background-color: #9796f0;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #ffffff30;
    
  }

  .image2 {
    width:100%;
    object-fit: cover;
    padding:15px;
  }

  
  .button {
    background-color: yellow;
    border-radius: 10px;
    font-size: 15px;
    padding:5px;
  }

  
  .score1 {
    font-size: 150%;
    color:#ffffff;
  }

  .value {
    font-size: 150%;
    font-weight: bold;
    color:#6a59ff;
  }

  .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin :3%;
    margin-top: 20%;
    margin-bottom:20%;
  }

  .bg-container {
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    height: 100vh;
  }
}